@import "./sass/setup";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");

// ===========================================
// VARIABLES
// ===========================================

$primary-color: #31d3fc;
$secondary-color: #ffeae9;
$complementary-color: #e13e3e;
$chosen-color: #7aff6e;
$pale-blue: #e1f3fd;

// ===========================================
// MIXINS
// ===========================================

@mixin rounded-border {
    -webkit-box-shadow: inset 0px 0px 2px 2px #000;
    box-shadow: inset 0px 0px 2px 2px #000;
    border-radius: 5px;
}

// used to hide scrollbars but still allow functionality
@mixin hide-scrollbars {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin button-size {
    max-height: 80px;
    max-width: 80px;
    height: 5vw;
    width: 5vw;
}

@mixin wrapper-size {
    max-width: 1200px;
    margin: 0 auto;
}
/* ===========================================
GENERAL STYLINGS
=========================================== */

html {
    font-size: 125%;
}


body {
    position: relative;
    word-wrap: break-word;
    font-family: "Poppins", sans-serif;
}

.App {
    height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 90%;
    @include wrapper-size();
    display: grid;
    grid-template-rows: 1fr auto 0.5fr;
}

main {
    position: relative;
}

button {
    cursor: pointer;
    background: $pale-blue;
    padding: 0;
    margin: 0;
}

fieldset {
    border: none;
    margin: 0;
}

// Firefox
* {
    scrollbar-color: $primary-color $pale-blue;
}

// For Chrome, Edge, and Safari
*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background: $pale-blue;
}

*::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 100vw;
    border: 3px solid white;
}

/* ===========================================
LOGIN
=========================================== */

.login-screen {
    @include rounded-border();
    background-color: $pale-blue;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    .input-container {
        display: flex;
        flex-direction: column;
    }
    button {
        background-color: $primary-color;
        padding: 10px;
        border-radius: 10px;
    }
    .check-container {
        display: flex;
        input[type="checkbox"] {
            margin: auto 10px auto 0;
        }
    }
    .error-message {
        color: rgb(212, 0, 0);
    }
}

.reg-form {
    & > * {
        margin: 10px 0;
    }
}

.login-form {
    & > * {
        margin: 10px 0;
    }
}

/* ===========================================
HEADER
=========================================== */

header {
    text-align: center;
    h1 {
        margin: 5% 0;
        font-family: "Pacifico", cursive;
        font-size: 4rem;
        font-weight: 100;
        color: $primary-color;
        text-shadow: 2px 2px 2px #000;
    }
    h2 {
        margin: 3%;
    }
}

/* ===========================================
MODALS
=========================================== */

.modal-background {
    position: absolute;
    padding: 10%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    z-index: 10;
    background: white;
    padding: 5%;

    @include rounded-border();

    .add-routine-submit {
        @include rounded-border();
        border: none;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .close-modal {
        @include button-size();
        border-radius: 25%;
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        background: rgb(157, 206, 255);
        border: 2px solid #000;
    }
}

.add-routine-modal {
    @include wrapper-size();
    .add-routine-modal-form {
        @include rounded-border();
        @include hide-scrollbars();
        max-height: 100%;
        text-align: center;
    }

    input[type="text"],
    textarea {
        margin: 1% 0;
        width: 100%;
        border: 2px solid black;
        border-radius: 5px;
    }

    textarea {
        height: 20vh;
        resize: none;
    }
}

.add-check-days {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .add-day {
        @include rounded-border();
        @include button-size();

        border: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.chosen {
            background: $chosen-color;
        }
    }
}

.confirm-delete-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include wrapper-size();
    .confirmation-window > * {
        margin: 5% 0;
    }
    .deletion-buttons {
        text-align: center;

        .delete-routine {
            @include rounded-border();
            margin: 1rem;
            border: none;
            padding: 1rem;
        }
    }
}

.routine-description-details,
.routine-name-details {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: $complementary-color;
    font-style: italic;
}

/* ===========================================
SIDE MENU
=========================================== */

.side-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    background: $pale-blue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: -250px;
    z-index: 5;
    -webkit-box-shadow: 2px 0px 2px 0px #000000;
    box-shadow: 2px 0px 2px 0px #000000;
    width: 250px;

    transition: all 0.5s ease-in-out;
    padding-top: 3rem;
    &.open {
        left: 0;
    }
    &.hidden {
        display: none;
    }
    .user-settings {
        width: 100%;
        p {
            font-size: 0.8rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
            margin: 3%;
        }

        .setting-button {
            @include rounded-border();
            border: none;
            padding: 0.5rem;
            width: 90%;
        }
    }
    .close-menu,
    .open-menu {
        background: none;
        border: none;
        position: absolute;
        font-size: 2rem;
        top: 0.5rem;
        right: 1rem;
    }
    .open-menu {
        right: -3rem;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        &.hidden {
            opacity: 0;
        }
    }
}

/* ===========================================
ROUTINES
=========================================== */

.routine-container {
    @include rounded-border();
    position: relative;
    justify-content: space-between;
    padding: 4% 2%;

    .add-button {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 50%);
        box-shadow: inset 0 0 2px 2px #000;
        background: $primary-color;
    }

    .prompt-container {
        padding: 2% 0;
        .prompt {
            text-align: center;
            margin: 2% 0;
        }
    }

    .routine-description {
        @include rounded-border();
        background: $pale-blue;
        padding: 5% 2%;
    }

    .add-button,
    .del-button,
    .daily-check {
        @include button-size();
        border: none;
        box-shadow: inset 0 0 2px 2px grey;
        border-radius: 25%;
    }
    .daily-check {
        &.disabled {
            cursor: initial;
            box-shadow: none;
            background: $secondary-color;
        }
        &.chosen {
            background: $chosen-color;
        }
    }
}

.routine-item {
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    border-radius: 5px;

    padding: 2%;
    margin: 2% 0;
    display: flex;
    flex-direction: column;

    .routine-details {
        display: grid;
        grid-template-columns: 20% 8fr 1fr;
        .routine-name {
            display: flex;
            align-items: center;
            margin-right: 2%;
            p {
                max-width: 100%;
            }
        }
        .routine-checks {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        .del-button-container {
            display: flex;
            justify-content: flex-end;
            position: relative;

            .del-button {
                color: white;
                background: $complementary-color;
                box-shadow: inset 0 0 2px 2px #000;
            }
        }
    }
    .routine-description {
        margin: 2% 0;
    }
}

.date-select {
    padding: 2%;
    display: grid;
    grid-template-columns: 20% 8fr 1fr;

    .dates {
        box-shadow: 0px 0px 2px 2px #000;
        border-radius: 5px;
        background: $secondary-color;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        grid-column: 2 /3;
    }
    p {
        @include button-size();
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1%;
        span {
            display: block;
        }
    }
}

/* ===========================================
FOOTER
=========================================== */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    @supports (position: sticky) {
        position: sticky;
        top: 100vh;
        bottom: unset;
        width: unset;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;

    padding: 5px;
    p {
        text-align: center;
        a {
            text-decoration: none;
            color: white;
            text-shadow: 1px 1px 1px #000;
        }
    }
}

/* ===========================================
MEDIA
=========================================== */

/* Landscape phone to portrait tablet */
@media (max-width: 900px) {
    @mixin button-size-900 {
        height: 8vw;
        width: 8vw;
    }

    body {
        font-size: 0.9rem;
    }
    header {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.1rem;
        }
    }

    .login-screen {
        width: 80%;
    }

    .side-menu {
        .close-menu,
        .open-menu {
            font-size: 1.5rem;
        }
        .open-menu {
            right: -2rem;
        }
    }

    .modal .add-routine-submit,
    .confirm-delete-modal .confirmation-window .delete-routine {
        margin: 3%;
        padding: 3%;
    }

    .add-check-days {
        padding: 3%;
    }

    .routine-container {
        .date-select {
            display: flex;
            .dates {
                width: 100%;
            }
        }
        .add-button,
        .del-button,
        .daily-check {
            @include button-size-900();
        }
    }

    .routine-item {
        .routine-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            & > * {
                margin: 2% 0;
            }
            .routine-name {
                margin: 0;
            }
            .routine-checks {
                width: 100%;
            }
        }
    }

    .modal .close-modal,
    .add-check-days .add-day,
    .date-select p {
        @include button-size-900();
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        font-size: 0.8rem;
    }
    .login-screen {
        width: 100%;
    }

    .side-menu {
        .close-menu,
        .open-menu {
            font-size: 1.2rem;
        }
        .open-menu {
            right: -1.7rem;
        }
    }

    .routine-container {
        .date-select .dates {
            background: none;
            box-shadow: none;
        }
    }

    .routine-item .del-button {
        color: $complementary-color;
        background: none;
        box-shadow: none;
    }
}
