/* ===========================================
SETUP
=========================================== */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===========================================
VARIABLES
=========================================== */
/* ===========================================
MIXINS
=========================================== */
/* ===========================================
GENERAL STYLINGS
=========================================== */
html {
  font-size: 125%;
  word-wrap: break-word;
}

body {
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

button {
  background: rgba(9, 165, 255, 0.1);
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

/* ===========================================
HEADER
=========================================== */
header {
  text-align: center;
}
header h1 {
  margin: 5% 0;
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  font-weight: 100;
  color: #31d3fc;
  text-shadow: 2px 2px 2px #000;
}
header h2 {
  margin: 3%;
  font-family: "Poppins", sans-serif;
}

/* ===========================================
MODALS
=========================================== */
.modalBackground {
  position: absolute;
  padding: 10%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.modalBackground .modal {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  z-index: 10;
  background: white;
  padding: 5%;
  border: 2px solid black;
  border-radius: 10px;
}
.modalBackground .modal .closeModal {
  height: 5vw;
  width: 5vw;
  border-radius: 25%;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: #9dceff;
  border: 2px solid #000;
}
.modalBackground .addRoutineModal {
  height: 80%;
}
.modalBackground .addRoutineModal .addRoutineModalForm {
  box-shadow: inset 0px 0px 2px 2px #000;
  border-radius: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  max-height: 100%;
}
.modalBackground .addRoutineModal .addRoutineModalForm::-webkit-scrollbar {
  display: none;
}
.modalBackground .addRoutineModal input {
  width: 100%;
}
.modalBackground .addRoutineModal textarea {
  width: 100%;
  height: 30vh;
  resize: none;
}
.modalBackground .confirmDeleteModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modalBackground .confirmDeleteModal .confirmationWindow > * {
  margin: 2% 0;
}
.modalBackground .confirmDeleteModal .deletionButtons {
  text-align: center;
}
.modalBackground .routineDescriptionDetails,
.modalBackground .routineNameDetails {
  display: flex;
  flex-direction: column;
}

/* ===========================================
ROUTINES
=========================================== */
.routineContainer {
  position: relative;
  justify-content: space-between;
  box-shadow: inset 0px 0px 2px 2px #000;
  border-radius: 5px;
  padding: 4% 2%;
}
.routineContainer .addButton {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.routineContainer .addButton button {
  height: 7vw;
  width: 7vw;
  background: #31d3fc;
  box-shadow: inset 0 0 2px 2px #000;
}
.routineContainer .prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.routineContainer .routineItem {
  box-shadow: 0px 0px 2px 2px black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 20% 8fr 1fr;
  padding: 2%;
  margin: 2% 0;
}
.routineContainer .routineItem .routineDetails {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.routineContainer .routineItem .dailyCheck {
  margin: 0 2%;
}
.routineContainer .routineItem .delButton {
  display: flex;
  justify-content: flex-end;
}
.routineContainer .routineItem .delButton button {
  box-shadow: inset 0 0 2px 2px #000;
}
.routineContainer button {
  cursor: pointer;
  border: none;
  box-shadow: inset 0 0 2px 2px grey;
  border-radius: 25%;
  height: 5vw;
  width: 5vw;
}
.routineContainer button.disabled {
  cursor: initial;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  background: rgba(255, 143, 135, 0.1);
}
.routineContainer button.chosen {
  background: #7aff6e;
}

.dateSelect {
  display: grid;
  grid-template-columns: 20% 8fr 1fr;
}
.dateSelect .dates {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  grid-column: 2/3;
}
.dateSelect p {
  display: flex;
  text-align: center;
  padding: 1%;
}

/* ===========================================
FOOTER
=========================================== */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #31d3fc;
  padding: 5px;
}
footer a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px #000;
}/*# sourceMappingURL=App.css.map */